---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<Layout title="Contact">
  <main>
    <Header
      title="Best way to contact me"
      content="You can contact me via email"
    />
  </main>
</Layout>
