---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<Layout title="Resume">
  <main>
    <Header
      icon="💼"
      title="My work"
      content="I am a Full Stack Engineer, I have a Master's degree in Information Systems and Data, and I have 3 years of professional experience in frontend and backend development. I have worked with React.js, Next.js, Node.js, GraphQL and other cutting-edge technologies to create user-friendly, responsive, and secure web solutions."
    />
    <section>
      <div class="prose prose-neutral dark:prose-invert">
        <h2 class="font-medium text-xl mb-1 tracking-tighter">SSSKIN</h2>
        <p class="text-neutral-600 dark:text-green-500 text-sm">
          Frontend Engineer (Sept 2022 - Nov 2023)
        </p>
        <ul class="dark:marker:text-green-500">
          <li>Development of the company’s marketing website using Next.js</li>
          <li>
            Enhancing operational efficiency and data management by configuring
            and deploying the company's ERP system facilitating data-driven
            decision-making.
          </li>
          <li>
            Provision and deploy several scalable and reliable cloud
            infrastructure on AWS.
          </li>
          <li>
            Development of company UI library and design system to ensure
            consistency and brand identity.
          </li>
          <li>
            Tailoring the company's ERP system to specific business needs by
            creating custom Odoo Python modules, optimizing business processes
            and increasing productivity
          </li>
          <li>
            Configuration of marketing tools: Google Tag Manager, Google
            Analytics, Google Ads, Mailchimp, etc..
          </li>
          <li>
            Boosting the productivity by creating several python scripts to
            automate marketing team tasks.
          </li>
        </ul>
        <p>
          <span class="dark:text-green-500">Technical environment</span>:
          Next.js, React.js, AWS Lambda functions, Amazon RDS, Amazon S3, Odoo,
          GHOST CMS, Storybook
        </p>

        <hr class="my-6 border-neutral-100 dark:border-neutral-800" />
        <h2 class="font-medium text-xl mb-1 tracking-tighter">Theorissimo</h2>
        <p class="text-neutral-600 dark:text-green-500 text-sm">
          Full-Stack Developer (Nov 2020 - Sept 2022)
        </p>
        <ul class="dark:marker:text-green-500">
          <li>
            Boosting revenue channels by development and Integration of a wide
            range of payment solutions like Stripe, credit card, TWINT,
            Postfinance and Google Play billing, etc
          </li>
          <li>
            Worked on testing the web app by adding several e2e tests, unit
            tests for features using playwright
          </li>
          <li>
            Architecture migration and decoupling of traditional CMS, leading to
            greater scalability, improved performance, and reduced operational
            overhead.
          </li>
          <li>
            Enriching the UX by developing and incorporating new features into a
            reusable React.js component library, promoting consistency and
            efficiency across various projects
          </li>
          <li>
            Empowering brand growth and user engagement by developing marketing
            driven websites while closely collaborating with the marketing team
            to maximize lead generation, conversions, and user interaction
          </li>
          <li>
            Broadening the global reach and accessibility of the marketing
            website by implementing i18n support, enabling it to resonate with a
            wider and more diverse audience.
          </li>
        </ul>
        <p>
          <span class="dark:text-green-500">Technical environment</span>:
          Next.js, Gatsby.js, Apollo GraphQL, CI/CD, GCP, Sentry, Playwright
        </p>

        <hr class="my-6 dark:border-gray-700" />
        <h2 class="font-medium text-xl mb-1 dark:text-green-500">
          Certifications
        </h2>
        <ul
          class="dark:marker:text-green-500 prose prose-neutral dark:prose-invert"
        >
          <a
            href="https://www.freecodecamp.org/certification/sidou01/back-end-development-and-apis"
          >
            <li>Developer APIs and Microservices Freecodecamp</li>
          </a>
        </ul>
        <hr class="my-6 border-neutral-100 dark:border-neutral-800" />
        <h2 class="font-medium text-xl mb-1 dark:text-green-500">Education</h2>
        <ul class="prose prose-neutral dark:prose-invert">
          <li class="font-medium text-md">
            Masters in Software Engineering<br />
            <a
              href="https://formation.univ-rouen.fr/fr/catalogue-de-l-offre-de-formation/master-lmd-XB/master-informatique-L56FBPB3/master-informatique-genie-de-l-informatique-logicielle-L56FBPLQ.html"
              class="text-sm ml-4">University of Rouen Normandy (in progress)</a
            >
          </li>
          <li class="font-medium text-md">
            Masters in Information Systems and Data<br />
            <span class="text-sm ml-4"
              >University of Science and Technology Mohamed Boudiaf (2019 -
              2021)</span
            >
          </li>
          <li class="font-medium text-md">
            Bachelor's degree in Computer Systems<br />
            <span class="text-sm ml-4"
              >University of Science and Technology Mohamed Boudiaf (2016 -
              2019)</span
            >
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
