---
interface HeaderProps {
  title: string
  content: string
}
const { title, content, icon } = Astro.props
---

<header>
  <h1 class="dark:text-green-500 mt-2">
    {icon && <span class="text-3xl">{icon}</span>}
    {title}
  </h1>
  <p>
    {content}
  </p>
  {content && <hr class="dark:border-gray-700" />}
</header>
